.App {
  text-align: center;
}

.App-logo {
  width: 50%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.App-header {
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  /* Style for the navigation bar */
  display: flex;
  align-items: flex-end;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: verdana;
  margin-bottom: 40px;
  padding: 0 80px;
}

.registration-button {
  font-family:verdana;
}