.container {
    margin-bottom: 0px;
}

.gridContainer {
    text-align: center;
}

.pageTitleContainer {
    margin: 3%;
    font-size: 30px;
    align-items: left;
}

.modalDescription {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    display: inline;
    position: absolute;
}

.modalGenre {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.57);
    font-size: 1rem;
}

.modalTitle{
    margin-bottom: 1rem;
}

.modal-header {
    justify-content: center;
    text-align: center;
    border-bottom: none;
}

.modal-body {
    overflow: auto;
    border-top: none;
    background-color: black;
}

.modal-footer {
    background-color: black;
    border-top: none;
    padding-top: 1rem;
}

.modalImage {
    width: 200px;
    height: 300px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.modalBookmark {
    height: 2.5rem;

}

/* .modalBookmark:hover {
    background-size: 1.3rem 2rem;
    display: inline-block;
    cursor: pointer;
} */

.bookmark {
    position: absolute;
    width: 1.3rem;
    right: 1.3rem;
    bottom: 1.3rem;
    cursor: pointer;
}

